.container {
  height: 150px;
  width: 300px;
  margin: 25px;
  border-radius: 7px;
}

.titletext {
  padding: 20px 0 2px 20px;
  font-size: 16px;
  font-weight: 700;
  font-family: arial;
  color: #000;
}

.subtitletext {
  padding: 20px 0 2px 20px;
  font-size: 16px;
  font-weight: 700;
  font-family: arial;
  color: #000;
}
