
.sidebar {
    position: fixed;
    /* Fixed position */
    top: 0;
    /* Position from the top */
    right: 0;
    /* Position from the right */
    width: 35%;
    /* Sidebar width */
    height: 90%;
    /* Full height */
    background-color: #fff;
    border-left: 4px solid #000;
}

.sidebar h2{
    margin-top: 20px;
    margin-left: 2rem;
}

.headerCon{
    display: flex;
    justify-content: space-between;
}

.headerCon h3{
    font-size: 21px;
    margin-right: 2rem;
    margin-top: 2rem;
    cursor: pointer;
}

.sidebar form{
    margin-top: 2rem;
    margin-left: 2rem;
}

.inpContainer form{
    margin: 2rem;
}

.inpContainer label{
    font-weight: bold;
}

.inpContainer input{
    padding: 7px;
}

.subtitle-con{
    margin-top: 1rem;
}

.bg-colors{
    margin-top: 1.5rem;
}

.btnCon{
    display: flex;
    justify-content: center;
}

.btnCon button{
    margin-top: 2rem;
    padding: 5px 20px 5px 20px;
    font-size: 15px;
    cursor: pointer;
}

.select-color{
    margin-top: 0.7rem;
}

